{% extends "base.html" %}

{% block stylesheets %}
    <link href="{{ url_for('static', filename='styles/forms.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>CREATE A NEW ACCOUNT</h2>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username(class="form-fields", placeholder="Username") }}
        </div>

        <div class="form-group">
            {{ form.password(class="form-fields", placeholder="Password") }}
        </div>

        <div class="form-group">
            {{ form.confirm_password(class="form-fields", placeholder="Confirm Password") }}
        </div>

        <div class="form-group">
            {{ form.full_name(class="form-fields", placeholder="Full Name") }}
        </div>

        <div class="form-group form-textarea">
            {{ form.bio(class="form-fields", placeholder="Bio") }}
        </div>

        <button type="submit" class="btn form-submit">Register</button>
    </form>
{% endblock %}
